<%= render "navbar" %>

<%= form_for [@todo.category, @todo], html: { class: "mx-2" } do |f| %>
  <div class="mb-3">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-control", required: true, placeholder: "必須" %>
  </div>
  <div class="mb-3">
    <%= f.label :content, "内容" %>
    <%= f.text_field :content, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :start_at, "開始した日" %>
    <%= f.datetime_field :start_at, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :completed_at, "終了した日" %>
    <%= f.datetime_field :completed_at, class: "form-control" %>
  </div>

  <button type="submit" class="btn btn-primary">更新</button>
  <%= link_to "戻る", category_todo_path([@todo.category, @todo]), class: :"btn btn-secondary" %>
<% end %>

