<%= render "navbar" %>

<div class="mb-3">
  <div>タイトル: <%= @todo.title %></div>
  <div>カテゴリ: <%= @todo.category ? @todo.category.title : "なし" %></div>
  <div>内容: <%= @todo.content %></div>
  <div>開始した日: <%= @todo.start_at.strftime("%Y-%m-%d %k:%M") %></div>
  <div>完了した日: <%= @todo.completed_at ? @todo.completed_at.strftime("%Y-%m-%d %k:%M") : "" %></div>
</div>

<%= link_to "編集", edit_category_todo_path([@todo.category, @todo]), class: :"btn btn-success" %>
<%= link_to "削除", [@todo.category, @todo], class: :"btn btn-danger", method: :delete, data: { confirm: "本当に削除しますか？" } %>
<%= link_to "戻る", category_path(@todo.category), class: :"btn btn-secondary" %>
